{% extends 'base.html.twig' %}
{% form_theme  form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h2>Edit the comment : </h2>

    {{ form_start(form) }}

    {{ form_widget(form.content) }}
    <button class="btn btn-success" type="submit">Validate</button>
    {{ form_end(form) }}

{% endblock %}